{% import '_macros.html.twig' as macros %}

<p>
    Le ZéPS est un logiciel libre distribué sous <a
        href="http://cecill.info/licences/Licence_CeCILL-B_V1-fr.html">licence CeCILL-B</a>.
</p>
<p>
    Il est développé par {% for author in authors %}{{ macros.person(author) }}, {% endfor %}ainsi que d'autres
    contributeurs du
    <a href="https://github.com/zDevelopers/ZePS-Core/graphs/contributors">cœur</a> (le moteur d'itinéraire) et de
    <a href="https://github.com/zDevelopers/ZePS-GUI/graphs/contributors">l'interface</a> (ce que vous avez sous les
    yeux).
</p>

<aside class="level is-mobile">
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Cœur</p>
            <p class="title">
                <a href="https://github.com/zDevelopers/ZePS-Core">
                    <span class="icon is-large"><span class="fa fa-github fa-lg"></span></span>
                </a>
            </p>
            <p class="heading is-light" {% if versions.core.snapshot %} title="Version bêta" {% endif %}>
                {{ versions.core.version }}</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Interface</p>
            <p class="title">
                <a href="https://github.com/zDevelopers/ZePS-GUI">
                    <span class="icon is-large"><span class="fa fa-github fa-lg"></span></span>
                </a>
            </p>
            <p class="heading is-light">{{ versions.gui }}</p>
        </div>
    </div>
</aside>

{% if last_updates.network or last_updates.zeps %}
<h3>Dernières mises à jour</h3>

<p>
    {% if last_updates.network %}
    Dernière mise à jour du réseau <strong>le
        {{ last_updates.network|date("d/m/Y à H:i") }}</strong>.{% if last_updates.zeps %}<br />{% endif %}
    {% endif %}
    {% if last_updates.zeps %}
    Dernière mise à jour de l'interface <strong>le {{ last_updates.zeps.date|date("d/m/Y à H:i") }}</strong>.
    {% endif %}
</p>

{% if last_updates.zeps %}
<blockquote class="git-commit">
    <p class="commit-message">{{ last_updates.zeps.message|trim|raw|nl2br }}</p>
    <p class="source">
        —
        {%- if last_updates.zeps.signed -%}<span class="fa fa-lock" title="Commit signé"></span>{% endif %}
        Le {{ last_updates.zeps.date|date("d/m/Y à H:i") }} par {{ last_updates.zeps.author }}
        &nbsp;&middot;&nbsp;&nbsp;<a href="{{ app.config.git.web_commit_url|format(last_updates.zeps.commit)}}"
            class="git-hash">
            {{- last_updates.zeps.commit|slice(0, 7) -}}
        </a>
    </p>
</blockquote>
<p class="all-history">
    Voir tout l'historique <a href="https://github.com/zDevelopers/ZePS-Core/commits/master">du cœur</a> et
    <a href="https://github.com/zDevelopers/ZePS-GUI/commits/master">de l'interface</a>.
</p>
{% endif %}
{% endif %}


{% if app.config.roleplay.partners %}
<h3>Nos partenaires</h3>

<div class="columns is-multiline partners">
    {% for partner in app.config.roleplay.partners %}
    <div class="column is-half">
        <figure>
            <div class="logo{% if partner.logo_css_classes %} {{ partner.logo_css_classes }}{% endif %}">
                <a href="{{ partner.link }}" {% if partner.tooltip %} title="{{ partner.tooltip }}" {% endif %}>
                    <img src="{{ partner.logo }}" alt="{{ partner.name }}" />
                </a>
            </div>
            <figcaption>
                {% if partner.name_displayed %}
                <h4>{{ partner.name }}</h4>
                {% endif %}
                {% if partner.description %}
                <p>{{ partner.description }}</p>
                {% endif %}
            </figcaption>
        </figure>
    </div>
    {% endfor %}
</div>

{% endif %}


<h3>Remerciements</h3>

{% if thanks %}
<p>
    Remerciements à {% for thank in thanks %}{{ macros.person(thank) }}, {% endfor %}et tous ceux que j'aurais oublié
    (désolé), pour leurs contributions plus ou moins directes à
    l'amélioration du ZéPS.
</p>
{% endif %}

<p>
    Remerciements à <a href="https://jenkins.io/">Jenkins</a>, serveur d'intégration continue utilisé par le ZéPS.
</p>


<h3>Bibliothèques</h3>

<p>Le ZéPS utilise un certain nombre de bibliothèques <em>open-source</em> pour fonctionner, et ne pourrait pas exister
    sans elle.</p>

<div class="columns">
    <div class="column is-half">
        <h4>Cœur</h4>
        <ul>
            <li><a href="https://maven.apache.org/">Apache Maven</a></li>
            <li><a href="https://github.com/google/gson">Google GSON</a></li>
            <li><a href="http://flask.pocoo.org/">Flask</a></li>
        </ul>
    </div>
    <div class="column is-half">
        <h4>Interface</h4>
        <ul>
            <li><a href="https://silex.symfony.com/">Silex</a></li>
            <li><a href="https://twig.symfony.com/">Twig</a></li>
            <li><a href="https://github.com/doctrine/cache">Doctrine Cache</a></li>
            <li><a href="https://github.com/cpliakas/git-wrapper">git-wrapper de T. Votruba</a></li>
            <li><a href="https://bulma.io">Bulma</a></li>
            <li><a href="https://wikiki.github.io/components/timeline/">Bulma – Timeline</a></li>
            <li><a href="https://wikiki.github.io/elements/tooltip/">Bulma – Tooltip</a></li>
            <li><a href="https://fontawesome.com/">Font Awesome</a></li>
            <li><a href="https://jquery.com/">jQuery</a></li>
            <li><a href="http://leafletjs.com/">Leaflet</a></li>
            <li><a href="https://github.com/CliffCloud/Leaflet.EasyButton">Leaflet – EasyButton</a></li>
            <li><a href="http://easyautocomplete.com/">Easy Autocomplete</a> (modifié)</li>
            <li><a href="https://nodejs.org/en/">NodeJS</a></li>
            <li><a href="https://npmjs.com/">NPM</a></li>
            <li><a href="https://webpack.js.org/">Webpack</a></li>
            <li><a href="https://babeljs.io/">Babel</a></li>
            <li><a href="http://sass-lang.com/">SCSS</a> et <a href="https://github.com/sass/node-sass">Node-SASS</a>
            </li>
            <li><a href="https://github.com/postcss/autoprefixer">Autoprefixer</a></li>
        </ul>
    </div>
</div>


<<<<<<< HEAD <h3>Remerciements</h3>

    {% if thanks %}
    <p>
        Remerciements à {% for thank in thanks %}{{ macros.person(thank) }}, {% endfor %}et tous ceux que j'aurais
        oublié
        (désolé), pour leurs contributions plus ou moins directes à
        l'amélioration du ZéPS.
    </p>
    {% endif %}

    <p>
        Remerciements à <a href="https://jenkins.io/">Jenkins</a>, serveur d'intégration continue utilisé par le ZéPS.
    </p>


    =======
    >>>>>>> b7b70f7 (Added partners on about page.)
    <h3>Dernière note</h3>

    <p>
        Le ZéPS est fourni gracieusement. En contre-partie, nous demandons un usage raisonnable&nbsp;: merci d'éviter de
        harceler
        le système avec des dizaines de requêtes automatisées par seconde. <strong>Des chatons vont mourir si vous
            abusez de
            ce service.</strong>
    </p>
