{% extends "base.html.twig" %}

{% block main_title %}Erreur {{ error_code }} {{ error_title }}{% endblock %}

{% block content %}
    <div class="well error-page text-center">
        {% if app.maintenance %}
            <h2>Service indisponible</h2>
            <p>
                <strong>Le ZéPS est actuellement en maintenance.</strong> Merci de revenir plus tard.
            </p>
        {% else %}
            <h2>Erreur {{ error_code }} {{ error_title }}</h2>
        {% endif %}

        <p class="error_page_img">
            <img src="{{ app.request.basePath }}/img/xkcd_error_code.png" alt="XKCD: Error code comic" /><br />
            <a class="muted" href="https://xkcd.com/1024/">xkcd</a>
        </p>
    </div>
{% endblock %}
