{% import "_macros.html.twig" as macros %}

<div class="results-overview">
    <div class="columns is-mobile">
        <div class="column is-half">
            <h3>Durée</h3>
            <p>{{ route.travelTime|time_format(true, true) }}</p>
        </div>
        <div class="column is-half">
            <h3>Distance</h3>
            <p>{{ route.length|number_format }} bloc{% if route.length > 1 %}s{% endif %}</p>
        </div>
    </div>
</div>

{% if alternatives %}
    <div class="results-alternatives" id="quickest-path">
        <div class="columns is-mobile alternatives-handle">
            <div class="column is-10">
                <h4>
                    {% if alternatives|length > 1 %}
                        Itinéraires alternatifs
                    {% else %}
                        Itinéraire alternatif
                    {% endif %}
                </h4>
            </div>
            <div class="column is-2">
                <span class="fa fa-caret-right fa-lg"></span>
            </div>
        </div>
        <ul class="results-alternatives-details">
            {% for alternative in alternatives %}
                {% set alternative_url = path('zeps.search_results', {
                    'from': alternative.searchedRoute.firstStation.name,
                    'to': alternative.searchedRoute.lastStation.name,
                    'options': alternative.updateRouteOptions(raw_options)
                }) %}
                <li>
                    <h5>
                        <a href="{{ alternative_url }}" class="results-alternatives-link">
                            {% if alternative.name == 'direct' %}
                                Trajet direct sans téléportation
                            {% elseif alternative.name == 'spawn' %}
                                Trajet via {{ macros.station(alternative.alternativeRoute.firstStation) }}
                            {% else %}
                                {{ alternative.name }}
                            {% endif %}
                        </a>
                    </h5>
                    <p>
                        <a href="{{ alternative_url }}" class="results-alternatives-link">{{ alternative.userFriendlyLengthDiff }}</a>
                    </p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<ul class="results-details timeline">

    {% if through_spawn %}
        <li class="timeline-item">
            <div class="timeline-marker"></div>
            <div class="timeline-content">
                <p class="heading">{{ macros.station(attribute(stations.stations, from)) }}</p>
                <p>
                    <strong>Rejoignez la capitale</strong> ({{ macros.station(attribute(stations.stations, spawn_station_id)) }}). Vous pouvez utiliser <code>/spawn</code>.

                    {% if from == spawn_station_id and from != to %}
                        <br />
                        Ensuite, entrez dans le Nether. Le portail est situé au sous-sol de la mairie.
                        {# TODO These tips should not be hardcoded. #}
                    {% endif %}
                </p>
            </div>
        </li>
        {% if from != spawn_station_id %}
            <li class="timeline-item">
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <p class="heading">{{ macros.station(attribute(stations.stations, spawn_station_id)) }}</p>
                    <p>
                        Rendez-vous à <strong>{{ macros.station(route.getFirstStation()) }}</strong> via le portail de la capitale situé au sous-sol de la mairie{% if from != to %}, et entrez dans le Nether{% endif %}.
                        {# TODO These tips should not be hardcoded. #}
                    </p>
                </div>
            </li>
        {% endif %}
    {% endif %}

    {% if from != to %}

        {%  if from_overworld and not through_spawn %}
            <li class="timeline-item">
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <p class="heading">{{ macros.station(route.getFirstStation()) }} (surface)</p>
                    <p>Rejoignez <strong>le Nether</strong>. Le portail est probablement situé vers ({{ nether_portal.x }}&nbsp;; {{ nether_portal.z }}).</p>
                </div>
            </li>
        {% endif %}

        {% for step in route.compactPath %}
            {% if step.previousStep != null and step.previousStep.isRail != step.isRail %}
                <li class="timeline-header transportation-mode-switch">
                    {% if step.isRail %}
                    <span class="tag is-info tooltip is-tooltip-right" data-tooltip="Passage sur rails. Montez dans votre wagonnet.">
                        <span class="icon is-medium">
                                <span class="fa fa-lg fa-train"></span>
                        </span>
                    </span>
                    {% else %}
                    <span class="tag is-info tooltip is-tooltip-right" data-tooltip="Passage à pieds. Sautez du wagonnet.">
                        <span class="icon is-medium">
                                <span class="fa fa-lg fa-child"></span>
                        </span>
                    </span>
                    {%  endif %}
                </li>
            {% endif %}

            <li class="timeline-item">
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <p class="heading">
                        {% if step.stationFrom.isVisible %}
                            {{ macros.station(step.stationFrom) }}
                        {% else %}
                            Vers ({{ step.stationFrom.locationX }} ; {{ " " ~ step.stationFrom.locationZ }})
                        {% endif %}
                    </p>
                    <p>
                        Dirigez-vous vers <strong>{{ attribute(directions_translations, step.direction) }}</strong>
                        jusqu'à
                        <strong>
                            {%- if route.compactPath[loop.index0 + 1] -%}
                                {{ macros.station(route.compactPath[loop.index0 + 1].stationFrom) }}
                            {%- else -%}
                                {{ macros.station(attribute(stations.stations, to)) }}
                            {%- endif -%}
                        </strong>
                    </p>
                    {% set intermediate_steps = step.intermediateSteps %}
                    <p class="small-details">
                        {%- spaceless -%}
                            {{ step.length|number_format }} bloc{% if step.length > 1 %}s{% endif -%}
                            {%- if intermediate_steps|length >= 1 -%}
                                &nbsp;&middot;
                                <span class="intermediate-stations">
                                    {% if intermediate_steps|length == 1 -%}
                                        Station intermédiaire
                                    {%- else -%}
                                        Stations intermédiaires
                                    {%- endif %} <span class="fa fa-caret-down"></span></span>
                            {%- endif -%}
                        {%- endspaceless -%}
                    </p>
                    {%- if intermediate_steps|length >= 1 -%}
                        <ul class="intermediate-stations-list">
                            {% for substep in intermediate_steps %}
                                <li>{{ macros.station(substep.station) }}</li>
                            {% endfor %}
                        </ul>
                    {%- endif -%}
                </div>
            </li>
        {% endfor %}

        <li class="timeline-item">
            <div class="timeline-marker"></div>
            <div class="timeline-content">
                <p class="heading">{{ macros.station(attribute(stations.stations, to)) }}</p>
                <p>Vous voilà à votre destination.</p>
                {% if not attribute(stations.stations, to).isIntersection %}
                <p class="small-details has-icon">
                    <span class="icon is-small">
                        <span class="fa fa-train"></span>
                    </span>
                    Le portail de destination n'est pas pourvu d'un arrêt.<br />
                    Pensez à sauter du wagonnet.
                </p>
                {% endif %}
            </div>
        </li>

    {% else %}
        <li class="timeline-item">
            <div class="timeline-marker"></div>
            <div class="timeline-content">
                <p class="heading">{{ macros.station(attribute(stations.stations, to)) }}</p>
                <p>Ne bougez pas. Vous êtes déjà à {{ macros.station(attribute(stations.stations, to)) }}.
            </div>
        </li>
    {% endif %}
</ul>
