{% macro station(station_obj) %}{% spaceless %}
    <span class="station-name station-withname-{{ station_obj.name }}" title="Coordonnées : {{ station_obj.locationX }} ; {{ station_obj.locationZ }}">{{ station_obj.displayName }}</span>
{% endspaceless %}{% endmacro %}

{% macro stations_list(stations, selected_id, geolocation_enabled, placeholder) %}
    <option value=""{% if geolocation_enabled %} id="starting-point-placeholder"{% endif %} disabled{% if not selected_id %} selected{% endif %}>{{ placeholder }}</option>
    <optgroup label="Stations principales">
        {% for station in stations.main_stations %}
            <option value="{{ station.name }}">{{ station.displayName }}</option>
        {% endfor %}
    </optgroup>
    <optgroup label="Toutes les stations">
        {% for station in stations.stations %}
            {% if station.isVisible %}
                <option value="{{ station.name }}"{% if selected_id is not same as(false) and selected_id == station.id %} selected{% endif %}>{{ station.displayName }}</option>
            {% endif %}
        {% endfor %}
    </optgroup>
{% endmacro %}

{% macro bytesToSize(bytes) %}
    {% spaceless %}
        {% set kilobyte = 1024 %}
        {% set megabyte = kilobyte * 1024 %}
        {% set gigabyte = megabyte * 1024 %}
        {% set terabyte = gigabyte * 1024 %}

        {% if bytes < kilobyte %}
            {{ bytes ~ ' octets' }}
        {% elseif bytes < megabyte %}
            {{ (bytes / kilobyte)|number_format(2, ',') ~ ' Kio' }}
        {% elseif bytes < gigabyte %}
            {{ (bytes / megabyte)|number_format(2, ',') ~ ' Mio' }}
        {% elseif bytes < terabyte %}
            {{ (bytes / gigabyte)|number_format(2, ',') ~ ' Gio' }}
        {% else %}
            {{ (bytes / terabyte)|number_format(2, ',') ~ ' Tio' }}
        {% endif %}
    {% endspaceless %}
{% endmacro %}
