<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{{ app.request.basePath }}/favicon.ico">

        <title>{% block main_title %}{% endblock %} ⋅ ZéPS</title>

        <link href="{{ app.request.basePath }}/css/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="{{ app.request.basePath }}/css/workarounds/ie10-viewport-bug-workaround.css" rel="stylesheet">

        <link href="{{ app.request.basePath }}/css/site.css" rel="stylesheet">

        {% block stylesheets %}{% endblock %}
    </head>

    <body class="plan">
        <div class="container">
            <div class="header clearfix">
                <nav>
                    <ul class="nav nav-pills pull-right navbar-right">
                        <li role="presentation"{% if not section %} class="active"{% endif %}><a href="{{ path('zeps.homepage') }}">Itinéraire</a></li>
                        <li role="presentation"{% if section and section == 'network_map' %} class="active"{% endif %}><a href="{{ path('zeps.network_map') }}">Carte du réseau</a></li>

                        <li role="presentation" class="dropdown hidden-xs" id="account-menu">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <img src="{{ app.request.basePath }}/img/unauthenticated.png" alt="You" class="account-image" id="account-image-unauthenticated" /><img src="" alt="You" class="account-image" id="account-image-authenticated" /> <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="authenticated account-loggedInAs">Connecté(e) en tant que<br /><span id="account-loggedInAs-player-name"></span></li>
                                <li class="divider authenticated"></li>
                                <li class="authenticated"><a href="#" class="account-link-logout">Déconnexion</a></li>
                                <li class="unauthenticated"><a href="#" class="account-link-login">Connexion</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <h3>{% block nav_title %}Z<em>é</em>PS{% endblock %}</h3>
            </div>

            {% block content %}{% endblock %}

            <footer class="footer">
                <p>Des chatons vont mourir si vous abusez de ce service.</p>
                <p>
                    Z<em>é</em>PS{% block footer_in_line %}{% endblock %}
                    — Logiciel publié sous la licence CeCILL-B
                    — <a href="https://github.com/zDevelopers/ZePS-GUI">Code source</a>
                    — <a href="{{ path('zeps.stats') }}">Statistiques</a>
                    — Moteur d'itinéraire par <a href="http://florian.cassayre.me/netherrail">Florian Cassayre</a>
                </p>
            </footer>

        </div> <!-- /container -->

        <!-- Base scripts -->
        <script src="{{ app.request.basePath }}/js/jquery/jquery.min.js"></script>
        <script src="{{ app.request.basePath }}/js/bootstrap/bootstrap.min.js"></script>

        {% include('includes/account_part.html.twig') %}

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="{{ app.request.basePath }}/js/workarounds/ie10-viewport-bug-workaround.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="{{ app.request.basePath }}/js/workarounds/html5shiv.min.js"></script>
            <script src="{{ app.request.basePath }}/js/workarounds/respond.min.js"></script>
        <![endif]-->

        {% block javascripts %}{% endblock %}
    </body>
</html>
