<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{{ app.request.basePath }}/favicon.ico">

        <title>{% block main_title %}{% endblock %} ⋅ ZéPS</title>

        <link href="{{ app.request.basePath }}/css/bulma.css" rel="stylesheet">
        <link href="{{ app.request.basePath }}/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{ app.request.basePath }}/css/workarounds/ie10-viewport-bug-workaround.css" rel="stylesheet">

        <link href="{{ app.request.basePath }}/css/site.css" rel="stylesheet">

        {% include 'includes/search_box_css.html.twig' %}

        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <section class="hero is-primary is-bold">
            <div class="hero-body">
                <div class="container">
                    <div class="columns">
                        <div class="column">
                            {% block block_titles %}
                                <h1 class="title">
                                    {% block title %}<span class="zeps-logo">Z<span>é</span>PS</span>{% endblock %}
                                </h1>
                                <h2 class="subtitle">
                                    {% block subtitle %}{% endblock %}
                                </h2>
                            {% endblock %}
                        </div>
                        <div class="column is-three-quarters has-text-right">
                            {% if error != 'unreachable' %}
                                {% include 'includes/search_box.html.twig' with
                                    {
                                        'stations': stations,
                                        'from': false,
                                        'to': false,
                                        'official' : false,
                                        'accessible': false
                                    }
                                %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% if error == 'unreachable' %}
                <div class="alert alert-danger">
                    <strong>L'API de recherche est injoignable.</strong>
                    Il s'agit certainement d'un problème temporaire. Réessayez dans quelques minutes.
                </div>
            {% else %}
                <noscript>
                    <div class="alert alert-warning">
                        <strong>Javascript est désactivé.</strong>
                        Certaines fonctionnalités (plan, géolocalisation...) ne marcheront pas.
                        <a href="http://www.enable-javascript.com/fr/">Cliquez ici pour apprendre comment activer Javascript</a>.
                    </div>
                </noscript>
            {% endif %}
        </section>

        {% block content %}{% endblock %}

        <script src="{{ app.request.basePath }}/js/jquery/jquery.min.js"></script>
        <script src="{{ app.request.basePath }}/js/bootstrap/bootstrap.min.js"></script>

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="{{ app.request.basePath }}/js/workarounds/ie10-viewport-bug-workaround.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="{{ app.request.basePath }}/js/workarounds/html5shiv.min.js"></script>
            <script src="{{ app.request.basePath }}/js/workarounds/respond.min.js"></script>
        <![endif]-->

        <script type="text/javascript">
            $(function() {
                'use strict';

                $('.modal-close, .modal-close-handler').on('click', function()
                {
                    $(this).parent('.modal').removeClass('is-active');
                });
            });
        </script>

        {% include 'includes/search_box_js.html.twig' %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
