{%  extends 'base.html.twig' %}

{% import "_macros.html.twig" as macros %}

{% block main_title %}
    {%  if submitted and valid %}
        {{ attribute(stations.stations, from).full_name }} → {{ attribute(stations.stations, to).full_name }} ⋅
    {% endif %}
    Itinéraire
{% endblock %}

{% block title %}
    <h1>Z<em>é</em>PS</h1>
    {% if submitted and valid %}
        <p>De {{ attribute(stations.stations, from).full_name }} à {{ attribute(stations.stations, to).full_name }}</p>
    {% else %}
        <p>Itinéraire dans le Netherrail</p>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <link href="{{ app.request.basePath }}/css/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ app.request.basePath }}/js/bootstrap-select/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="{{ app.request.basePath }}/js/bootstrap-select/defaults-fr_FR.min.js"></script>

    <script type="text/javascript">
        routes = {
            'get_players': '{{ path('zeps.api.logged_in_players', {'world_names': app.config.overworld_and_nether_worlds|join(',')}) }}',
            'get_nearest': '{{ path('zeps.api.nearest_station', {'name': 'playerNamePlaceholder'}) }}'
        };

        nether_world = '{{ app.config.world_name }}';
    </script>

    <script type="text/javascript" src="{{ app.request.basePath }}/js/search.js"></script>
    <script type="text/javascript" src="{{ app.request.basePath }}/js/invert_stations.js"></script>
{% endblock %}

{% block content %}
    <noscript>
        <div class="alert alert-warning">
            <strong>Javascript est désactivé.</strong>
            Les fonctionnalités de géolocalisation ne marcheront pas.
            <a href="http://www.enable-javascript.com/fr/">Cliquez ici pour apprendre comment activer Javascript</a>.
        </div>
    </noscript>

    {% if error == 'unreachable' %}
        <div class="alert alert-danger">
            <strong>L'API de recherche est injoignable.</strong>
            Il s'agit certainement d'un problème temporaire. Réessayez dans quelques minutes.
        </div>
    {% endif %}

    {% if error != 'unreachable' and submitted and (not valid or error) %}
        <div class="alert alert-danger">
            <strong>Erreur.</strong>
            Impossible de récupérer l'itinéraire.
            {% if error == 'no_path' %}
                Aucun chemin trouvé.
            {% elseif error  is not empty %}
                Une erreur inconnue est survenue : {{ raw_error }}.
            {% endif %}

            <br /><em>N'hésitez pas à signaler ce problème en spécifiant l'URL de la page ! Merci.</em>
        </div>
    {% endif %}

    {% if not (not valid and error == 'unreachable') %}
        <div class="well well-large">
            <form action="{{ path('zeps.homepage') }}">

                <input type="hidden" name="from_overworld" id="from_overworld" value="false" />

                <div class="row">
                    <div class="col-xs-12 col-md-9 form-inline">
                        <div class="form-group" id="route-form-part">
                            <label class="sr-only" for="from">Sélectionnez les points de départ et d'arrivée</label>
                            <div class="input-group">
                                <div class="input-group-addon station-selector-between cliquable-icon cliquable-icon-nojs open-geolocation-dialog">
                                    <span class="glyphicon glyphicon-globe" id="open-geolocation-icon" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Me localiser"></span>
                                    <span class="sr-only">Me localiser</span>
                                </div>

                                <select class="form-control selectpicker-disabled station-selector" id="from" name="from" data-live-search="true">
                                    {{ macros.stations_list(stations, submitted ? from : false, true, "Point de départ") }}
                                </select>

                                <div class="input-group-addon station-selector-between cliquable-icon cliquable-icon-nojs" id="invert-from-to" >
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Inverser origine et destination"></span>
                                    <span class="sr-only">(Inverser origine et destination)</span>
                                </div>

                                <select class="form-control selectpicker-disabled station-selector" id="to" name="to" data-live-search="true" title="Destination">
                                    {{ macros.stations_list(stations, submitted ? to : false, false, "Destination") }}
                                </select>
                            </div>
                        </div>
                        <div class="form-group route-options">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="route_option_official" name="official" value="official"{% if options.official %} checked{% endif %}> Lignes officielles uniquement
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="route_option_accessible" name="accessible" value="accessible"{% if options.accessible %} checked{% endif %}> Stations sécurisées uniquement
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 text-right">
                        <input class="btn btn-primary" type="submit" value="Calculer l'itinéraire">
                    </div>
                </div>
            </form>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="geo-geolocation-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="geolocation-modal-title">Chargement...</h4>
                    </div>
                    <div class="modal-body">
                        <div id="geolocation-modal-loading">
                            <img src="{{ app.request.basePath }}/img/loading.gif" alt="Chargement en cours, patientez une seconde..." />
                        </div>

                        <div id="geolocation-modal-selector">
                            <select id="geolocation-modal-selector-select" class="selectpicker" data-width="70%" title="Sélectionnez-vous dans la liste"></select>
                        </div>

                        <div id="geolocation-modal-error-nether-empty">
                            <p>
                                <strong>Il n'y a personne dans un monde survie.</strong><br />
                                Allez au préalable dans l'un d'entre eux puis <a href="#" class="geolocation-modal-retry">réessayez</a>.
                            </p>
                        </div>
                        <div id="geolocation-modal-error-cannot-retrieve">
                            <p>
                                <strong>Impossible de récupérer la station.</strong><br />
                                Le serveur a retourné une erreur.
                            </p>
                            <p class="text-muted">
                                Erreur <span id="geolocation-modal-error-cannot-retrieve-error-id"></span> : «&nbsp;<span id="geolocation-modal-error-cannot-retrieve-error-message"></span>&nbsp;»
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-left">
                            <p class="text-muted" id="geolocation-modal-footer-message">
                                <a href="#" class="geolocation-modal-retry" data-toggle="tooltip" data-placement="top" title="Cliquez pour réessayer">Pas dans la liste ?</a> Vérifiez que vous êtes dans un monde survie (et hors de l'End).
                            </p>
                        </div>
                        <button type="button" class="btn btn-primary" id="geolocation-modal-button" disabled>Localiser la station la plus proche</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if submitted and valid and not error %}
        <div class="well">
            <div class="pull-right">
                <a href="http://florian.cassayre.me/netherrail?from={{ from }}&amp;to={{ to }}">Voir sur le site original</a>
            </div>
            <h2>Informations pratiques</h2>

            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h4 class="muted small-title">Temps de trajet</h4>
                    <p class="lead">{{ travel_time }}</p>

                    <h4 class="muted small-title">Distance totale</h4>
                    <p class="lead">{{ distance|number_format }} bloc{% if distance > 1 %}s{% endif %}</p>
                </div>
                <div class="col-xs-12 col-md-6">
                    <h4 class="muted small-title">Nombre d'étapes</h4>
                    <p class="lead">{{ changes_count|number_format }}</p>

                    <h4 class="muted small-title">Nombre de stations</h4>
                    <p class="lead">{{ visible_stations_count|number_format }}</p>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>

        <div class="well">
            <h2>Itinéraire</h2>

            <table class="table table-bordered">
                {% if from != to %}
                    {%  if from_overworld %}
                        <tr>
                            <td>
                                <p class="route_main_consign">Rejoignez <strong>le Nether</strong>.</p>
                                <p class="route_intermediate_stations">
                                    Le portail est probablement situé vers ({{ nether_portal.x }}&nbsp;; {{ nether_portal.z }}).
                                </p>
                            </td>
                        </tr>
                    {% endif %}

                    {% for step in route %}
                        <tr>
                            <td>
                                <div class="pull-right">
                                    {{ step.length|number_format }} bloc{% if step.length > 1 %}s{% endif %}
                                </div>

                                <p class="route_main_consign">
                                    {% if step.from.is_visible %}
                                        À <strong>{{ macros.station(step.from) }}</strong>,
                                    {% else %}
                                        Vers <strong>({{ step.from.x }} ; {{ step.from.y }})</strong>,
                                    {% endif %}
                                    prenez la direction <strong>{{ attribute(directions_translations, step.direction) }}</strong>.
                                </p>
                                {% if step.steps|length >= 2 %}
                                    <p class="route_intermediate_stations">
                                        {% if step.steps|length == 2 and step.steps[1].is_visible %}
                                            Vous passez par la station {{ macros.station(step.steps[1]) }}.
                                        {% else %}
                                            Vous passez par les stations
                                            {% set first = true %}
                                            {% for station in step.steps %}{% if station.id != step.from.id and station.is_visible %}{% if not first and station.id != step.to.id %}, {% elseif station.id == step.to.id %} et {% endif %}{{ macros.station(station) }}{% set first = false %}{% endif %}{% endfor %}.
                                        {% endif %}
                                    </p>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>Vous arrivez à {{ macros.station(attribute(stations.stations, to)) }}.</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>Ne bougez pas. Vous êtes déjà à {{ macros.station(attribute(stations.stations, to)) }}.</td>
                    </tr>
                {% endif %}
            </table>
        </div>

        <div class="well">
            <h2>Plan du trajet</h2>

            <div class="text-center">
                <img src="{{ image }}" alt="Plan visuel du trajet" class="img-polaroid" />
            </div>
        </div>
    {% endif %}
{% endblock %}
