{%  extends 'base.html.twig' %}

{% block main_title %}
    {%  if submitted and valid %}
        {{ attribute(stations.stations, from).full_name }} → {{ attribute(stations.stations, to).full_name }} ⋅
    {% endif %}
    Itinéraire
{% endblock %}

{% block title %}
    <h1>Z<em>é</em>PS</h1>
    {% if submitted and valid %}
        <p>De {{ attribute(stations.stations, from).full_name }} à {{ attribute(stations.stations, to).full_name }}</p>
    {% else %}
        <p>Itinéraire dans le Netherrail</p>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <link href="{{ app.request.basePath }}/js/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />

    <style type="text/css">
        .route_main_consign {
            font-size: 1.3em;
        }

        .route_intermediate_stations {
            font-style: italic;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ app.request.basePath }}/js/bootstrap-select/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="{{ app.request.basePath }}/js/bootstrap-select/defaults-fr_FR.min.js"></script>
{% endblock %}

{% block content %}

    {% if error == 'unreachable' %}
        <div class="alert alert-danger">
            <strong>L'API de recherche est injoignable</strong>
            Il s'agit certainement d'un problème temporaire. Réessayez dans quelques minutes.
        </div>
    {% endif %}

    {% if error != 'unreachable' and submitted and (not valid or error) %}
        <div class="alert alert-danger">
            <strong>Erreur.</strong>
            Impossible de récupérer l'itinéraire.
            {% if error == 'no_path' %}
                Aucun chemin trouvé.
            {% elseif error  is not empty %}
                Une erreur inconnue est survenue : {{ raw_error }}.
            {% endif %}

            <br /><em>N'hésitez pas à signaler ce problème en spécifiant l'URL de la page ! Merci.</em>
        </div>
    {% endif %}

    {% if not (not valid and error == 'unreachable') %}
        <div class="well well-large">
            <form action="{{ path('zeps.homepage') }}">
                <div class="row">
                    <div class="col-xs-12 col-md-9 form-inline">
                        <div class="form-group" id="route-form-part">
                            <label class="sr-only" for="from">Sélectionnez les points de départ et d'arrivée</label>
                            <div class="input-group">
                                <select class="form-control" id="from" name="from">
                                    <option value="" disabled{% if not submitted %} selected{% endif %}>Point de départ
                                    <optgroup label="Stations principales">
                                        {% for station in stations.main_stations %}
                                            <option value="{{ station.code_name }}">{{ station.full_name }}</option>
                                        {% endfor %}
                                    </optgroup>
                                    <optgroup label="Toutes les stations">
                                        {% for station in stations.stations %}
                                            <option value="{{ station.code_name }}"{% if submitted and from == station.id %} selected{% endif %}>{{ station.full_name }}</option>
                                        {% endfor %}
                                    </optgroup>
                                </select>
                                <div class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></div>
                                <select class="form-control" id="to" name="to">
                                    <option value="" disabled{% if not submitted %} selected{% endif %}>Destination
                                    <optgroup label="Stations principales">
                                        {% for station in stations.main_stations %}
                                            <option value="{{ station.code_name }}">{{ station.full_name }}</option>
                                        {% endfor %}
                                    </optgroup>
                                    <optgroup label="Toutes les stations">
                                        {% for station in stations.stations %}
                                            <option value="{{ station.code_name }}"{% if submitted and to == station.id %} selected{% endif %}>{{ station.full_name }}</option>
                                        {% endfor %}
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="form-group route-options">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="route_option_official" name="official" value="official"{% if options.official %} checked{% endif %}> Lignes officielles uniquement
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="route_option_accessible" name="accessible" value="accessible"{% if options.accessible %} checked{% endif %}> Stations sécurisées uniquement
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 text-right">
                        <input class="btn btn-primary" type="submit" value="Calculer l'itinéraire">
                    </div>
                </div>
            </form>
        </div>
    {% endif %}

    {% if submitted and valid and not error %}
        <div class="well">
            <div class="pull-right">
                <a href="http://florian.cassayre.me/netherrail?from={{ from }}&amp;to={{ to }}">Voir sur le site original</a>
            </div>
            <h2>Informations pratiques</h2>

            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h4 class="muted small-title">Temps de trajet</h4>
                    <p class="lead">{{ travel_time }}</p>

                    <h4 class="muted small-title">Distance totale</h4>
                    <p class="lead">{{ distance }} bloc{% if distance > 1 %}s{% endif %}</p>
                </div>
                <div class="col-xs-12 col-md-6">
                    <h4 class="muted small-title">Nombre d'étapes</h4>
                    <p class="lead">{{ changes_count }}</p>

                    <h4 class="muted small-title">Nombre de stations</h4>
                    <p class="lead">{{ stations_count }}</p>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>

        <div class="well">
            <h2>Itinéraire</h2>

            <table class="table table-bordered">
                {% if from != to %}
                    {% for step in route %}
                        <tr>
                            <td>
                                <div class="pull-right">
                                    {{ step.length }} bloc{% if step.length > 1 %}s{% endif %}
                                </div>

                                <p class="route_main_consign">À <strong>{{ step.from.full_name }}</strong>, prenez la direction <strong>{{ attribute(directions_translations, step.direction) }}</strong>.</p>
                                {% if step.steps|length >= 2 %}
                                    <p class="route_intermediate_stations">
                                        {% if step.steps|length  == 2 %}
                                            Vous passez par la station {{ step.steps[1].full_name }}.
                                        {% else %}
                                            Vous passez par les stations
                                            {% set first = true %}
                                            {% for station in step.steps %}{% if station.id != step.from.id %}{% if not first and station.id != step.to.id %}, {% elseif station.id == step.to.id %} et {% endif %}{{ station.full_name }}{% set first = false %}{% endif %}{% endfor %}.
                                        {% endif %}
                                    </p>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>Vous arrivez à {{ attribute(stations.stations, to).full_name }}.</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>Ne bougez pas. Vous êtes déjà à {{ attribute(stations.stations, to).full_name }}.</td>
                    </tr>
                {% endif %}
            </table>
        </div>

        <div class="well">
            <h2>Plan du trajet</h2>

            <div class="text-center">
                <img src="{{ image }}" class="img-polaroid" />
            </div>
        </div>
    {% endif %}
{% endblock %}
