{% extends 'base.html.twig' %}

{% import "_macros.html.twig" as macros %}

{% block main_title %}Statistiques{% endblock %}

{% block content %}
    <div class="well">
        <h2>Statistiques du Z<em>é</em>PS</h2>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7">
                    <h3>Réseau du Netherrail</h3>
                    <p>Le Netherrail comporte <strong>{{ stations.all - stations.hidden }} stations</strong> en tout. Il y a plus précisément :</p>
                    <p class="statistic">
                        <span class="number">{{ stations.main }}</span>
                        <span class="description">arrêts aux <strong>capitales</strong> ; </span>
                    </p>
                    <p class="statistic">
                        <span class="number">{{ stations.portal }}</span>
                        <span class="description">stations disposant d'un <strong>portail de sortie</strong> ; </span>
                    </p>
                    <p class="statistic">
                        <span class="number">{{ stations.no_stop }}</span>
                        <span class="description">stations <strong>sans arrêt</strong> ; </span>
                    </p>
                    <p class="statistic">
                        <span class="number">{{ stations.dangerous }}</span>
                        <span class="description">stations jugées <strong>dangereuses</strong> ; </span>
                    </p>
                    <p class="statistic">
                        <span class="number">{{ stations.hidden }}</span>
                        <span class="description">stations <strong>masquées</strong> <span class="text-muted">(techniques, sans réelle existence en tant qu'arrêt)</span>.</span>
                    </p>

                    <hr />

                    <p>Le réseau est constitué de <strong>{{ network.lines }} lignes</strong>, qui mesurent ensemble <strong>{{ (network.all / 1000)|number_format(2, ',') }} kilomètres</strong>, dont : </p>
                    <p class="statistic">
                        <span class="number">{{ (network.rail / 1000)|number_format(2, ',') }}</span>
                        <span class="description">kilomètres <strong>en train</strong> ; </span>
                    </p>
                    <p class="statistic">
                        <span class="number">{{ (network.walk / 1000)|number_format(2, ',') }}</span>
                        <span class="description">kilomètres <strong>à pied</strong>.</span>
                    </p>
                </div>
                <div class="col-md-5">
                    <h3>Données en cache</h3>
                    <p>Pour optimiser le site, lorsqu'une requête d'itinéraire est faite pour la première fois, l'itinéraire est stocké et la copie, accessible quasi instantanément, est utilisée par la suite.</p>
                    <p>Le cache des requêtes d'itinéraire occupe <strong>{{ macros.bytesToSize(cache.space_used) }}</strong>.</p>

                    {% if last_updates.network or last_updates.zeps %}
                        <h3>Mises à jour</h3>

                        {% if last_updates.network %}
                            <p>Dernière mise à jour du réseau : <strong>{{ last_updates.network|date("d/m/Y à H:i") }}</strong>.</p>
                        {% endif %}

                        {% if last_updates.zeps %}
                            <p>
                                Dernière mise à jour du ZéPS : <strong>{{ last_updates.zeps.date|date("d/m/Y à H:i") }}</strong>.
                            </p>
                            <blockquote class="commit-details">
                                {% spaceless -%}
                                    <p>{{ last_updates.zeps.message|trim|raw|nl2br }}</p>
                                    <footer>
                                        {{- last_updates.zeps.author }},
                                        <a href="{{ app.config.git.web_commit_url|format(last_updates.zeps.commit)}}">
                                            {{- last_updates.zeps.commit|slice(0, 7) -}}
                                        </a>{%- if last_updates.zeps.signed -%}, signé{%- endif -%}
                                    </footer>
                                {%- endspaceless %}
                            </blockquote>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
